@import '@fontsource/jetbrains-mono';

:root {
	font-family: 'JetBrains Mono', monospace;
	--text-xxl: 6.4em;
	--text-xl: 4.2em;
	--text-lg: 2.2em;
	--text-md: 1.6em;
	--text-base: 1.1em;
	--text-sm: 0.8em;
	--text-xs: 0.6em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
}

.text-xxl {
	font-size: var(--text-xxl);
	font-weight: 600;
	line-height: 1;
}

h1,
.text-xl {
	font-size: var(--text-xl);
	font-weight: 600;
	line-height: 1;
}

h2,
.text-lg {
	font-size: var(--text-lg);
	line-height: 1.2;
}

h3,
.text-md {
	font-size: var(--text-md);
}

h5,
.supertext {
	color: var(--heading-color);
	font-size: var(--text-sm);
	text-transform: uppercase;
	letter-spacing: 0.3rem;
	font-weight: bold;
}


p,
.text-base {
	font-size: var(--text-base);
	line-height: 1.4;
}

.text-sm {
	font-size: var(--text-sm);
	line-height: 1.4;
}

a {
	color: var(--accent-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

pre {
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--text-color);
}
